:host {
  display: flex;
  flex-direction: column;
  background-color: #37a2e6;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 100%;
  padding: 1em;
}

.favorite-title > span {
  padding-top: 0.6em;
}

.favorite-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fad02c;
  font-style: italic;
  padding-left: 1em;
  width: 100%;
}
