* {
  font-family: 'TT Commons', sans-serif;
}

:host {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  justify-content: space-evenly;
  padding: 1em;
  width: 100%;
  height: 100%;
}
