* {
  font-family: 'TT Commons', sans-serif;
}

:host {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  gap: 1.5em;
  align-self: center;
  width: 100%;
}

.user-container {
  height: 33em;
  width: 100%;
  display: grid;
  grid-template-columns: 33% auto;
  gap: 1.5em;
}

.profile-container {
  grid-column: 1 / span 1;
}

.fav-container {
  grid-column: 2 / span 2;
}
