* {
  font-family: 'TT Commons', sans-serif;
}

:host {
  height: 100%
}

.main-container {
  display: grid;
  grid-template-rows: 33% auto;
  padding: 1em;
  gap: 1.5em;
}

.user-container {
  display: grid;
  grid-template-columns: 33% auto;
  gap: 1.5em;
}

.profile-container {
  grid-column: 1 / span 1;
}

.fav-container {
  grid-column: 2 / span 2;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  background-color: aqua;
}
