:host {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #FF5757;
  padding: 1em;
  align-content: flex-start;
  min-height: 20em;
}

.paginate-buttons {
  margin-top: 2em;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
