:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 12em;
  height: fit-content;
  min-width: 10em;
  padding: 0.3em 0 0.3em 1em;
  margin: 1em 0.25em 0.25em 1em;
}

.up-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

.add-button {
  padding-right: 0.8em;
}

.add-button>img {
  width: 2em;
  cursor: pointer;
}


.poke-card-name {
  margin: 0.5em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #FAD02C;
  font-style: italic;
}

.fav-img-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 5em;
}

.fav-img-container>img {
  height: 5em;
  max-width: 100%;
  display: block;
  margin: auto;
}
